﻿body {
  background: #fff; }

html {
  position: relative;
  min-height: 100%; }

/*Normalize html and body elements,this style is just good to have*/
html,
body {
  margin: 0;
  padding: 0; }
  html *,
  body * {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.container-fluid {
  padding: 0; }

.dx-api-list-container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif; }
  .dx-api-list-container .box-centered {
    max-width: 1015px;
    min-width: 1010px;
    margin: 0 auto;
    position: relative; }
  .dx-api-list-container .header {
    width: 100%;
    min-width: 1010px;
    height: 70px;
    background: #fff;
    border-bottom: 1px solid #e2e5e7; }
    .dx-api-list-container .header .box-centered .logo {
      width: 30%;
      height: 70px;
      position: relative;
      float: left; }
      .dx-api-list-container .header .box-centered .logo img {
        height: 40px;
        position: relative;
        top: 35px;
        transform: translateY(-50%); }
    .dx-api-list-container .header .box-centered .navigation {
      width: 70%;
      height: 70px;
      float: left;
      position: relative;
      margin: 0 !important; }
      .dx-api-list-container .header .box-centered .navigation ul {
        float: right;
        margin: 0; }
        .dx-api-list-container .header .box-centered .navigation ul li {
          max-width: 150px;
          list-style: none;
          font-size: 14px;
          float: left;
          margin-left: 30px;
          font-size: 13px;
          color: #314659;
          line-height: 70px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden; }
          .dx-api-list-container .header .box-centered .navigation ul li a {
            text-decoration: none;
            color: #314659;
            cursor: pointer; }
            .dx-api-list-container .header .box-centered .navigation ul li a:hover {
              color: #324251; }
        @media (max-width: 1313px) {
          .dx-api-list-container .header .box-centered .navigation ul {
            margin-right: 20px; } }
  .dx-api-list-container .language-icons {
    max-width: 1015px;
    min-width: 1010px;
    margin: 0 auto;
    position: relative; }
    .dx-api-list-container .language-icons ul {
      max-width: 1015px;
      min-width: 1010px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: row;
      -ms-flex-flow: row;
      -webkit-flex-flow: row;
      justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      margin: 35px 0;
      padding: 0; }
      .dx-api-list-container .language-icons ul a {
        text-decoration: none; }
      .dx-api-list-container .language-icons ul li {
        width: 92px;
        list-style: none;
        flex-basis: auto;
        align-self: auto;
        cursor: pointer; }
        .dx-api-list-container .language-icons ul li p {
          font-size: 12px;
          color: #314659;
          text-align: center;
          margin: 15px 0 0 0; }
        .dx-api-list-container .language-icons ul li svg {
          fill: #999;
          cursor: pointer;
          display: block;
          margin: 0 auto; }
        .dx-api-list-container .language-icons ul li:hover p {
          color: #09518f; }
        .dx-api-list-container .language-icons ul li:hover svg {
          fill: #09518f; }
  .dx-api-list-container .body {
    position: relative;
    display: block;
    margin-bottom: 47px; }
    .dx-api-list-container .body .branding-box {
      width: 100%;
      min-width: 1010px;
      height: 404px;
      background: url("") center center;
      background-size: 200%;
      position: relative;
      margin: 0;
      overflow: hidden;
      background-color: #0f9bff;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%232fa7fd' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%234fb3fa' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%236fbff8' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%238ecaf5' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23aed6f3' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23cee2f0' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
      background-size: cover;
      background-position: center;
      /* background by SVGBackgrounds.com */ }
      .dx-api-list-container .body .branding-box .default-cover {
        width: 100%;
        min-width: 1010px;
        height: 404px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .dx-api-list-container .body .branding-box img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*filter: blur(10px);
                -webkit-filter: blur(10px);
                -moz-filter: blur(10px);
                -o-filter: blur(10px);
                -ms-filter: blur(10px);*/ }
      .dx-api-list-container .body .branding-box .overlay {
        height: 404px;
        background: #324251;
        opacity: 0.3; }
      .dx-api-list-container .body .branding-box .content {
        max-width: 1015px;
        min-width: 1010px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
        .dx-api-list-container .body .branding-box .content h1 {
          width: 100%;
          height: 30px;
          font-size: 25px;
          font-weight: 600;
          color: #fff;
          margin-top: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
          word-wrap: break-word;
          overflow-wrap: break-word;
          white-space: nowrap;
          margin: 0 auto 15px; }
        .dx-api-list-container .body .branding-box .content p {
          width: 100%;
          height: 22px;
          font-size: 14px;
          color: #fff;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
          word-wrap: break-word;
          overflow-wrap: break-word;
          white-space: nowrap;
          margin: 0 auto 15px; }
        .dx-api-list-container .body .branding-box .content .btn-get-started {
          width: 128px;
          height: 32px;
          display: block;
          line-height: 32px;
          font-size: 13px;
          font-weight: bold;
          color: white;
          border-radius: 3px;
          margin: 0 auto;
          -webkit-box-shadow: 2px 0 7px 1px rgba(0, 0, 0, 0.14);
          -moz-box-shadow: 2px 0 7px 1px rgba(0, 0, 0, 0.14);
          box-shadow: 2px 0 7px 1px rgba(0, 0, 0, 0.14);
          text-shadow: 2px 0 7px rgba(0, 0, 0, 0.14);
          text-decoration: none;
          border: 1px solid transparent; }
          .dx-api-list-container .body .branding-box .content .btn-get-started:hover {
            cursor: pointer; }
    .dx-api-list-container .body .box-centered {
      width: 100%;
      min-width: 1010px; }
      .dx-api-list-container .body .box-centered .api-list {
        position: relative;
        min-height: 122px;
        max-height: 680px; }
        .dx-api-list-container .body .box-centered .api-list .flex-column {
          display: flex;
          width: 100%;
          flex-wrap: wrap; }
          .dx-api-list-container .body .box-centered .api-list .flex-column .item {
            max-height: 190px;
            flex: 0 50%;
            min-height: 20px;
            flex-direction: row;
            padding: 35px 15px 0; }
            .dx-api-list-container .body .box-centered .api-list .flex-column .item h1 {
              max-width: 475px;
              height: 20px;
              font-size: 18px;
              font-weight: 600;
              color: #0d1a26;
              margin-top: 0;
              overflow: hidden;
              word-wrap: break-word;
              line-height: 1.1; }
            .dx-api-list-container .body .box-centered .api-list .flex-column .item p {
              max-width: 475px;
              font-size: 13px;
              max-height: 120px;
              line-height: 24px;
              color: #314659;
              overflow: hidden;
              word-wrap: break-word; }
        .dx-api-list-container .body .box-centered .api-list .list-wrapper {
          min-height: 50px;
          max-height: 250px; }
        .dx-api-list-container .body .box-centered .api-list .list {
          max-height: 190px;
          padding: 35px 15px 0;
          position: relative;
          border-top: 1px solid #d9dee5; }
          .dx-api-list-container .body .box-centered .api-list .list h1 {
            height: 20px;
            font-size: 18px;
            font-weight: 600;
            color: #0d1a26;
            margin-top: 0;
            overflow: hidden;
            word-wrap: break-word;
            line-height: 1.1; }
          .dx-api-list-container .body .box-centered .api-list .list p {
            font-size: 13px;
            max-height: 120px;
            line-height: 24px;
            color: #314659;
            overflow: hidden;
            word-wrap: break-word; }
      .dx-api-list-container .body .box-centered .features {
        width: 100%;
        position: relative;
        margin: 35px 0 72px;
        clear: both;
        border-top: 1px solid #d9dee5; }
        .dx-api-list-container .body .box-centered .features .box {
          width: 25%;
          max-height: 250px;
          float: left;
          padding: 0px 10px;
          margin-top: 35px; }
          .dx-api-list-container .body .box-centered .features .box .icon img {
            display: block;
            margin: 0 auto; }
          .dx-api-list-container .body .box-centered .features .box .content {
            width: 100%;
            margin-top: 30px; }
            .dx-api-list-container .body .box-centered .features .box .content h1 {
              width: 100%;
              font-size: 18px;
              font-weight: 600;
              color: #0d1a26;
              margin-top: 0;
              text-align: center;
              overflow: hidden;
              text-align: center;
              text-overflow: ellipsis;
              word-break: break-all;
              word-wrap: break-word;
              overflow-wrap: break-word;
              white-space: nowrap;
              display: inline-block;
              margin-bottom: 0; }
            .dx-api-list-container .body .box-centered .features .box .content p {
              max-height: 108px;
              font-size: 13px;
              color: #314659;
              overflow: hidden;
              text-align: center;
              text-overflow: ellipsis;
              overflow: hidden;
              text-align: center;
              word-wrap: break-word;
              overflow-wrap: break-word; }
              .dx-api-list-container .body .box-centered .features .box .content p a {
                cursor: pointer; }
  .dx-api-list-container .footer {
    width: 100%;
    height: 37px;
    background: #fff;
    border-top: 1px solid #e2e5e7;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
    .dx-api-list-container .footer p {
      text-align: center;
      color: #314659;
      font-size: 12px;
      margin: 10px 0 0 0; }
      .dx-api-list-container .footer p img {
        margin-right: 5px; }
  .dx-api-list-container .clearfix {
    float: none;
    clear: both; }

