﻿$blue: #09518f;
$blueBorder: #1074cb;
$blueHover: #0c5da3;
$inputBorderBlue: #0078d7;
$jumbotronBlue: #2a313a;
$gray: #5d5d5d;
$baseGray: #f4f4f4;
$mediumGray: #e3e4e6;
$jumbotronGray: #6a6a6a;
$borderGray: #d9dee5;
$textDarkColor: #676a6c;
$textLightColor: #a0a5a8;
$progress-green: #49d560;
$light-blue: #00acee;
$red: #c72529;
$lighrGray: #f3f3f4;
$navLinkColor: #979eac;
$navLinkColorHover: white;
$borderDisable: #EEEEEE;
$warning: #f78031;
$gray_1: #2e323c;
$gray_2: #53596a;
$gray_3: #7c8395;
$gray_4: #898fa3;
$gray_5: #a5b3bb;
$gray_6: #a5b3bb;
$border_gray_1: #e2e5e7;
$solid_gray_1: #f7f7f7;

body {
    background: #fff;
}

html {
    position: relative;
    min-height: 100%;
}

/*Normalize html and body elements,this style is just good to have*/

html,
body {
    margin: 0;
    padding: 0;

    * {
        webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.container-fluid {
    padding: 0;
}

.dx-api-list-container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;

    .box-centered {
        max-width: 1015px;
        min-width: 1010px;
        margin: 0 auto;
        position: relative;
    }

    .header {
        width: 100%;
        min-width: 1010px;
        height: 70px;
        background: #fff;
        border-bottom: 1px solid $border_gray_1;

        .box-centered {
            .logo {
                width: 30%;
                height: 70px;
                position: relative;
                float: left;

                img {
                    height: 40px;
                    position: relative;
                    top: 35px;
                    transform: translateY(-50%);
                }
            }
            //.logo
            .navigation {
                width: 70%;
                height: 70px;
                float: left;
                position: relative;
                margin: 0 !important;

                ul {
                    float: right;
                    margin: 0;

                    li {
                        max-width: 150px;
                        list-style: none;
                        font-size: 14px;
                        float: left;
                        margin-left: 30px;
                        font-size: 13px;
                        color: #314659;
                        line-height: 70px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;

                        a {
                            text-decoration: none;
                            color: #314659;
                            cursor: pointer;

                            &:hover {
                                color: #324251;
                            }
                        }
                    }

                    @media (max-width:1313px) {
                        margin-right: 20px;
                    }
                }
            }
            //navigation
        }
        //.box-centered
    }
    //header
    .language-icons {
        max-width: 1015px;
        min-width: 1010px;
        margin: 0 auto;
        position: relative;

        ul {
            max-width: 1015px;
            min-width: 1010px;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-flow: row;
            -ms-flex-flow: row;
            -webkit-flex-flow: row;
            justify-content: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            margin: 35px 0;
            padding: 0;

            a {
                text-decoration: none;
            }

            li {
                width: 92px;
                list-style: none;
                flex-basis: auto;
                align-self: auto;
                cursor: pointer;

                p {
                    font-size: 12px;
                    color: #314659;
                    text-align: center;
                    margin: 15px 0 0 0;
                }

                svg {
                    fill: #999;
                    cursor: pointer;
                    display: block;
                    margin: 0 auto;
                }

                &:hover {
                    p {
                        color: $blue;
                    }

                    svg {
                        fill: $blue;
                    }
                }
            }
        }
    }
    //language-icons
    .body {
        position: relative;
        display: block;
        margin-bottom: 47px;

        .branding-box {
            width: 100%;
            min-width: 1010px;
            height: 404px;
            background: url('') center center;
            background-size: 200%;
            position: relative;
            margin: 0;
            overflow: hidden;

            .default-cover {
                width: 100%;
                min-width: 1010px;
                height: 404px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            background-color: #0f9bff;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%232fa7fd' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%234fb3fa' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%236fbff8' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%238ecaf5' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23aed6f3' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23cee2f0' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
            background-size: cover;
            background-position: center;
            /* background by SVGBackgrounds.com */
            img {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                /*filter: blur(10px);
                -webkit-filter: blur(10px);
                -moz-filter: blur(10px);
                -o-filter: blur(10px);
                -ms-filter: blur(10px);*/
            }

            .overlay {
                height: 404px;
                background: #324251;
                opacity: 0.3;
            }
            //.overlay
            .content {
                max-width: 1015px;
                min-width: 1010px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;

                h1 {
                    width: 100%;
                    height: 30px;
                    font-size: 25px;
                    font-weight: 600;
                    color: #fff;
                    margin-top: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-all;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                    white-space: nowrap;
                    margin: 0 auto 15px;
                }

                p {
                    width: 100%;
                    height: 22px;
                    font-size: 14px;
                    color: #fff;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-all;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                    white-space: nowrap;
                    margin: 0 auto 15px;
                }

                .btn-get-started {
                    width: 128px;
                    height: 32px;
                    display: block;
                    line-height: 32px;
                    font-size: 13px;
                    font-weight: bold;
                    color: white;
                    border-radius: 3px;
                    margin: 0 auto;
                    -webkit-box-shadow: 2px 0 7px 1px rgba(0,0,0,.14);
                    -moz-box-shadow: 2px 0 7px 1px rgba(0,0,0,.14);
                    box-shadow: 2px 0 7px 1px rgba(0,0,0,.14);
                    text-shadow: 2px 0 7px rgba(0,0,0,.14);
                    text-decoration: none;
                    border: 1px solid transparent;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            //.content
        }
        //.branding-box
        .box-centered {
            width: 100%;
            min-width: 1010px;

            .api-list {
                position: relative;
                min-height: 122px;
                max-height: 680px;

                .flex-column {
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;

                    .item {
                        max-height: 190px;
                        flex: 0 50%;
                        min-height: 20px;
                        flex-direction: row;
                        padding: 35px 15px 0;

                        h1 {
                            max-width: 475px;
                            height: 20px;
                            font-size: 18px;
                            font-weight: 600;
                            color: #0d1a26;
                            margin-top: 0;
                            overflow: hidden;
                            word-wrap: break-word;
                            line-height: 1.1;
                        }

                        p {
                            max-width: 475px;
                            font-size: 13px;
                            max-height: 120px;
                            line-height: 24px;
                            color: #314659;
                            overflow: hidden;
                            word-wrap: break-word;
                        }
                    }
                }

                .list-wrapper {
                    min-height: 50px;
                    max-height: 250px;
                }

                .list {
                    max-height: 190px;
                    //background: #fff;
                    padding: 35px 15px 0;
                    //border: 1px solid $border_gray_1;
                    position: relative;
                    border-top: 1px solid $borderGray;

                    h1 {
                        height: 20px;
                        font-size: 18px;
                        font-weight: 600;
                        color: #0d1a26;
                        margin-top: 0;
                        overflow: hidden;
                        word-wrap: break-word;
                        line-height: 1.1;
                    }

                    p {
                        font-size: 13px;
                        max-height: 120px;
                        line-height: 24px;
                        color: #314659;
                        overflow: hidden;
                        word-wrap: break-word;
                    }
                    // .content
                }
                // .list
            }
            //.api-list
            .features {
                width: 100%;
                position: relative;
                margin: 35px 0 72px;
                clear: both;
                border-top: 1px solid $borderGray;

                .box {
                    width: 25%;
                    max-height: 250px;
                    float: left;
                    padding: 0px 10px;
                    margin-top: 35px;

                    .icon {
                        img {
                            display: block;
                            margin: 0 auto;
                        }
                    }

                    .content {
                        width: 100%;
                        margin-top: 30px;

                        h1 {
                            width: 100%;
                            font-size: 18px;
                            font-weight: 600;
                            color: #0d1a26;
                            margin-top: 0;
                            text-align: center;
                            overflow: hidden;
                            text-align: center;
                            text-overflow: ellipsis;
                            word-break: break-all;
                            word-wrap: break-word;
                            overflow-wrap: break-word;
                            white-space: nowrap;
                            display: inline-block;
                            margin-bottom: 0;
                        }

                        p {
                            max-height: 108px;
                            font-size: 13px;
                            color: #314659;
                            overflow: hidden;
                            text-align: center;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            text-align: center;
                            word-wrap: break-word;
                            overflow-wrap: break-word;

                            a {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            //.features
        }
        //.box-centered
    }
    // .body
    .footer {
        width: 100%;
        height: 37px;
        background: #fff;
        border-top: 1px solid $border_gray_1;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        p {
            text-align: center;
            color: #314659;
            font-size: 12px;
            margin: 10px 0 0 0;

            img {
                margin-right: 5px;
            }
        }
    }
    //footer
    .clearfix {
        float: none;
        clear: both;
    }
}